DISCORD_BOT_TOKEN = ""
POSTGRES_USER = voice_squads_bot
POSTGRES_PASSWORD = ""
POSTGRES_DB = voice_squads_bot
DB_HOST = localhost
DEFAULT_CHANNEL_NAMES = '["Squad Wolverine", "Squad Leviathan", "Squad Strix", "Squad Gambit", "Squad Rose", "Squad Crow", "Squad Blackjack", "Squad Fortune", "Squad Knight", "Squad Claw", "Squad Thunderbolt", "Squad Surge", "Squad Trident", "Squad Viking", "Squad Sunburst", "Squad Sledgehammer", "Squad Lancer", "Squad Rattlesnake", "Squad Wildcard", "Squad Wildcat", "Squad Warlock", "Squad Xeno"]'